.menu100{
	background-image: url(image/tra2.png);
	height: 70px;
	width: 125px;
	float: left;
}
#header {
	background-image: url(image/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(image/bannerbg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#wrapper{
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
}

#menu{
	height: 70px;
	margin-top: -30px;
}
.menu02{
	background-image: url(image/menubg_02.png);
	float: left;
	height: 70px;
	width: 840px;
}
#content{
	background-image: url(image/contentbg.png);
	background-repeat: repeat-y;
	background-position: center;
	}
#navigation {
	height: 3em;
	list-style: none;
}
#navigation > li {
	float: left;
	height: 100%;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 5px;
	margin-right: 5px;
	width: 91px;
}
#navigation > li > a {
	float: left;
	height: 100%;
	color: #0086C9;
	text-decoration: none;
	line-height: 40px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "微軟正黑體", "細明體";
	text-align: center;
	width: 91px;
}
#navigation > li > a:hover {
	color: #FFF;
	background-image: url(image/menuselt.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 38px;
}
